apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "kvdi.fullname" . }}-leader-election-role
  labels:
    {{- include "kvdi.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ''
      - coordination.k8s.io
    resources:
      - configmaps
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ''
    resources:
      - events
    verbs:
      - create
      - patch
