name: Build Audio Proxy Image

on:
  push:
    branches: [main]
    tags: [v*]

env:
  PLATFORMS: linux/amd64,linux/arm64
  ARCHS: amd64,arm64
  IMAGE: ghcr.io/webmeshproj/vdi-audio-proxy
  VERSION: ${{ startswith(github.ref, 'refs/tags/v') && github.ref || 'latest' }}
  COSIGN_EXPERIMENTAL: 1

jobs:
  build:
    name: Build Proxy Images
    runs-on: self-hosted
    permissions:
      contents: "write"
      id-token: "write"
      packages: "write"
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to GHCR
        uses: docker/login-action@v3
        if: ${{ github.event_name != 'pull_request' }}
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: ${{ env.ARCHS }}

      - name: Setup Cosign
        uses: sigstore/cosign-installer@main

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Proxy Images
        uses: docker/build-push-action@v5
        id: proxy-build
        with:
          context: .
          file: build/Dockerfile.audio-proxy
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ env.IMAGE }}:${{ env.VERSION }}
          platforms: ${{ env.PLATFORMS }}

      - name: Sign Container Images
        if: ${{ github.event_name != 'pull_request' }}
        run: cosign sign --yes --recursive ${{ env.IMAGE }}@${{ steps.proxy-build.outputs.digest }}
